<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8zlBCPZ5PPlfTMnpjvpcsydDhBW_1elw"></script>
</head>
<body>

<%= yield %>

</body>
</html>
